.app-block {
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-page-editable .app-block-inner {
    transition: background-color 0.5s;
    border-radius: 10px;
}

.app-page-editable .app-block-inner:hover {
    background-color: #eee;
}

.app-block-inner {
    padding: 10px;
}

.app-block-text-textarea, .app-block-header-textarea {
    outline: none;
}

.app-block-text-textarea:empty::before {
    content: "Text...";
    color: #777;
}

.app-block-header-textarea:empty::before {
    content: "Heading...";
    color: #777;
}

.app-block-header-textarea {
    font-size: large;
    font-weight: bold;
}
